
.aboutme {
border-style: inset;
border-color: 993300;
width: 55%;

}

.favortitwebs {

border-style: inset;
border-color: 993300;
width: 24%;

}

.button {

border-style: inset;
border-color: 993300;
width: 4%;

}

.momQuote {

border-style: inset;
border-color: 993300;
width: 100%;
text-align: center;

}

.myImage {

float: right;

}


 




